/ros2_ws_dev/build
/ros2_ws_dev/install
/ros2_ws_dev/log
/.vscode
/ros2_ws_dev/src/arduino_serial_package/arduino_files/arduino_serial_bridge/.pio
/ros2_ws_dev/src/arduino_serial_package/arduino_files/arduino_serial_bridge/.vscode