<?xml version="1.0"?>
<robot name="LBSimV1">
    <link name="base_link">
        <visual>
            <geometry>
                <mesh "/meshes/chassis.dae"/>
            </geometry>
        </visual>
    </link>
    <link name="WheelFL">
        <visual>
            <geometry>
                <cylinder length="0.6" radius="0.2"/>
            </geometry>
        </visual>
    </link>
    <link name="WheelFR">
        <visual>
            <geometry>
                <cylinder length="0.6" radius="0.2"/>
            </geometry>
        </visual>
    </link>
    <link name="WheelRL">
        <visual>
            <geometry>
                <cylinder length="0.6" radius="0.2"/>
            </geometry>
        </visual>
    </link>
    <link name="WheelRR">
        <visual>
            <geometry>
                <cylinder length="0.6" radius="0.2"/>
            </geometry>
        </visual>
    </link>
</robot>